@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
      position: fixed;
      height: 60px;
      left: 0;
      top: 0;
      right: 0;
      background: darkblue;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    main {
      margin-top: 60px;
      padding: 1rem;
    }